@model IEnumerable<Caterer.Models.CateringCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CaterersDashboard.cshtml";
    ViewData["Heading"] = "Products";
}
<style>
    .menu-card {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s;
    }

        .menu-card:hover {
            transform: translateY(-5px);
        }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .availability-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        border-radius: 20px;
    }

        .availability-badge span {
            font-size: 0.8rem;
            font-weight: bold;
        }

    .description {
        font-size: 0.9rem;
    }

    .price {
        font-size: 0.9rem;
    }

</style>
<div class="container-fluid py-6">
    <div class="row">
        <div class="col-md-12 mb-2" style="padding-right:2.5%; ">
            <div class="d-flex justify-content-end">
                <a class="btn btn-info" id="addCategoryBtnId"> Add Category</a>
            </div>

        </div>
        @if (Model.Any())
        {
            @foreach (var menuCategory in Model.Reverse())
            {
                <div class="col-md-12 mb-4" data-category-id="@menuCategory.CateringCategoryId">
                    <div class="card border-0 shadow">
                        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #3C4D69; color: white; padding: 1.00rem;">
                            <div class="row w-100">
                                <div class="col-6">
                                    <h2 class="h3 font-weight-bold mb-0 text-white" style="font-size: 1.75rem;">@menuCategory.CateringCategoryName</h2>
                                </div>
                                <style>
                                    .custom-button {
                                        margin-right: 7.56px;
                                    }
                                </style>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <a class="btn btn-success custom-button addCategoryBtn1" style="font-size: 0.75em;">+</a>
                                    <!-- Edit Button -->
                                    <button class="btn btn-warning custom-button editCategoryBtn"
                                            data-category-id="@menuCategory.CateringCategoryId"
                                            data-category-name="@menuCategory.CateringCategoryName"
                                            data-category-price="@menuCategory.CategoryPrice"
                                            style="font-size: 0.75em;">
                                        Edit <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                    <!-- Delete Button -->
                                    <button class="btn btn-danger custom-button deleteCategoryBtn"
                                            data-category-id="@menuCategory.CateringCategoryId"
                                            style="font-size: 0.75em;">
                                        Delete <i class="fa-regular fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="row">
                                @foreach (var menuItemGroup in menuCategory.CateringItems.GroupBy(item => item.MenuCategoryId))
                                {
                                    var subCategoryId = $"{menuCategory.CateringCategoryId}{menuItemGroup.Key.ToString().Replace(" ", "")}";
                                    <div class="col-lg-12 mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #2f4f4f; color: white; padding: 1.00rem;">
                                            <h4 class="h3 font-weight-bold mb-0 text-white">
                                                <span class="menu-category-name" data-category-id="@menuItemGroup.Key" id="subCategoryHeading_@subCategoryId" style="cursor: pointer;">
                                                    <strong>
                                                        @menuCategory.CateringItems.FirstOrDefault(item => item.MenuCategoryId == menuItemGroup.Key)?.MenuCategory?.MenuCategoryName
                                                    </strong>
                                                    -
                                                    @menuCategory.CateringItems.FirstOrDefault(item => item.MenuCategoryId == menuItemGroup.Key)?.SelectedItem
                                                </span>
                                            </h4>
                                            <style>
                                                .custom-button {
                                                    margin-right: 7.56px;
                                                }
                                            </style>
                                            <div class="d-flex align-items-center ml-auto">
                                                <button class="btn btn-warning custom-button editCategoryBtn1"
                                                        data-category-id="@menuItemGroup.Key"
                                                        data-category-name="@menuCategory.CateringItems.FirstOrDefault(item => item.MenuCategoryId == menuItemGroup.Key)?.MenuCategory?.MenuCategoryName"
                                                        data-selected-item="@menuCategory.CateringItems.FirstOrDefault(item => item.MenuCategoryId == menuItemGroup.Key)?.SelectedItem"
                                                        style="font-size: 0.75em;">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                        </div>



                                        <script>
                                            $(document).ready(function () {
                                                $('.editExtra').on('click', function (e) {
                                                    e.preventDefault();
                                                    var extraId = $(this).data('id');
                                                    $.get('@Url.Action("Edit", "MenuCategories")/' + extraId, function (data) {
                                                        $('#editExtraModalContent').html(data);
                                                        $('#editExtraModal').modal('show');  
                                                    });
                                                });
                                            });
                                        </script>
                                        <!-- Modal for Edit Extra content -->
                                        <div class="modal fade" id="editExtraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content" style="background-color:transparent;border-color:transparent;">
                                                    <div class="modal-body" id="editExtraModalContent">
                                                        <!-- Content will be loaded dynamically here -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="row">
                                            @foreach (var menuItem in menuItemGroup)
                                            {
                                                <div class="col-lg-3 mb-4">
                                                    <a href="@Url.Action("Edit", new { id = menuItem.CateringItemId })" class="card-link">
                                                        <div class="card menu-card">
                                                            <div class="position-relative">
                                                                @if (string.IsNullOrEmpty(menuItem.ItemImage))
                                                                {
                                                                    <img src="~/Images/Default/Default.jpg" class="card-img-top" alt="MenuItem Image">
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/Images/menuItems/@menuItem.ItemImage" class="card-img-top" alt="MenuItem Image">
                                                                }
                                                                <div class="availability-badge @(menuItem.ItemAvailable ? "bg-success" : "bg-danger")">
                                                                    <span>@(menuItem.ItemAvailable ? "Available" : "Not Available")</span>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <h5 class="card-title" style="color: black; font-weight: bold;">@menuItem.ItemName</h5>
                                                                <p class="card-text description" style="color: black; font-weight: bold;">@menuItem.ItemDescription</p>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <h6 class="price mb-0" style="color: black; font-weight: bold;">Price: <span class="text-danger">@menuItem.ItemPrice</span></h6>
                                                                    <a href="@Url.Action("Edit", new { id = menuItem.CateringItemId })" class="btn btn-warning custom-button btn-sm">Edit Details</a>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </a>
                                                </div>
                                                @if (menuItem == menuItemGroup.Last())
                                                {
                                                    <!-- Display "Add New Item" card next to the last item in the row -->
                                                    <div class="col-lg-3 mb-4">
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addItemModal" class="card-link text-decoration-none">
                                                            <div class="card h-100 border-0 shadow-sm">
                                                                <div class="card-body text-center">
                                                                    <div class="row mb-3">
                                                                        <div class="col">
                                                                            <a href="#" data-bs-toggle="modal" data-bs-target="#addItemModal">
                                                                                <img src="~/Images/Default/AddItem.jpeg" alt="Placeholder Image" class="img-fluid">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <p class="card-text text-muted">Click below to add a new item to your menu.</p>
                                                                            <button class="btn btn-success custom-button addCategoryBtn1" data-category-id="@menuCategory.CateringCategoryId">
                                                                                Add Item
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body text-center">
                        <h2 class="h3 font-weight-bold mb-0 text-muted">No categories available</h2>
                        <p class="text-muted">Please add categories to display your content.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        function openModal(url) {
            // Save the current scroll position
            var scrollTop = $(window).scrollTop();
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    // Create a modal (popup) and set its content
                    var modal = $('<div class="modal" style="margin-top:15%;"    tabindex="-1" role="dialog"></div>');
                    modal.html(data);

                    // Append the modal to the body
                    $('body').append(modal);

                    // Add modal-dialog-centered class to center the modal
                    var modalDialog = $('<div class="modal-dialog modal-dialog-centered" role="document"></div>');
                    modal.find('.modal-content').wrap(modalDialog);

                    // Show the modal
                    modal.modal('show');

                    // Set the scroll position back to where it was before the modal was opened
                    $(window).scrollTop(scrollTop);

                    // Cleanup after the modal is closed
                    modal.on('hidden.bs.modal', function () {
                        modal.remove();
                    });
                },
                error: function () {
                    alert('Error loading the action content.');
                }
            });
        }
        $("#addCategoryBtn").click(function (e) {
            // Prevent the default action of the button (e.g., navigating to a URL)
            e.preventDefault();

            // Open the modal
            openModal('@Url.Action("Create", "CateringCategories")');
        });

        // Handle edit button click
        $(".editCategoryBtn2").click(function (e) {
            // Prevent the default action of the button (e.g., navigating to a URL)
            e.preventDefault();

            var categoryId = $(this).data("category-id");
            var editUrl = '@Url.Action("Edit", "CateringCategories")/' + categoryId;

            // Open the modal
            openModal(editUrl);
        });

        // Handle delete button click
        $(".deleteCategoryBtn2").click(function (e) {
            // Prevent the default action of the button (e.g., navigating to a URL)
            e.preventDefault();

            var categoryId = $(this).data("category-id");
            var deleteUrl = '@Url.Action("Delete", "CateringCategories")/' + categoryId;

            // Open the modal
            openModal(deleteUrl);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".addCategoryBtn1").click(function () {
            var categoryIdValue = $(this).closest('[data-category-id]').data('category-id');

            $.ajax({
                url: '@Url.Action("Create", "CateringItems")' + '?categoryId=' + categoryIdValue,
                type: 'GET',
                success: function (data) {
                    var modal = $('<div class="modal" style="margin-top:15%;" tabindex="-1" role="dialog"></div>');
                    modal.html(data);
                    $('body').append(modal);
                    var modalDialog = $('<div class="modal-dialog modal-dialog-centered" role="document"></div>');
                    modal.find('.modal-content').wrap(modalDialog);
                    modal.modal('show');
                    modal.on('hidden.bs.modal', function () {
                        modal.remove();
                    });
                },
                error: function () {
                    alert('Error loading the "Create" action content.');
                }
            });
        });
    });
</script>
<script>
    function editSubCategory(categoryId, subCategoryId) {
        $("#subCategoryHeading_" + subCategoryId).hide();
        $("#editSubCategory_" + subCategoryId).show();
    }

    function saveSubCategory(categoryId, subCategoryId) {
        var editedSubCategory = $("#editedSubCategory_" + subCategoryId).val();
        // Perform validation and check if the SubCategory is not empty

        $.ajax({
            url: '@Url.Action("UpdateSubCategory", "CateringItems")',
            type: 'POST',
            data: { cateringCategoryId: categoryId, editedSubCategory: editedSubCategory },
            success: function (data) {
                // Handle success, if needed
                $("#subCategoryHeading_" + subCategoryId).text(editedSubCategory);
                $("#subCategoryHeading_" + subCategoryId).show();
                $("#editSubCategory_" + subCategoryId).hide();

                // Update SubCategory for individual CateringItems in the UI
                $('[data-subcategory-id="' + editedSubCategory + '"]').text(editedSubCategory);
            },
            error: function () {
                // Handle error, if needed
                alert('Error updating SubCategory.');
            }
        });
    }
</script>
<!-- Edit Category Modal Popup -->
<div class="modal fade modal" id="EditCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info model-title">Edit Menu Category</h1>
                <button aria-label="Close" class="btn-close bg-danger" onclick="CloseEditCategoryModalPopup();"></button>
            </div>

            <div class="modal-body">
                <form method="post" id="EditCategory_form">
                    <div class="form-group" style="display: none;">
                        <label>MenuCategoryId</label>
                        <input type="hidden" class="form-control" id="EditMenuCategoryId" />
                    </div>
                    <div class="form-group">
                        <label>Menu Category Name</label>
                        <input type="text" class="form-control" id="EditMenuCategoryName" placeholder="Please Enter Category Name" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Selected Item</label>
                        <input type="text" class="form-control" id="EditSelectedItem" placeholder="Please Enter Selected Item" autocomplete="off" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="EditCategory();">Save Changes</button>
                <button class="btn btn-danger" onclick="CloseEditCategoryModalPopup();">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Open Edit Category Modal
    $(document).on('click', '.editCategoryBtn1', function () {
        var categoryId = $(this).data('category-id');
        var categoryName = $(this).data('category-name');
        var selectedItem = $(this).data('selected-item');

        $("#EditMenuCategoryId").val(categoryId);
        $("#EditMenuCategoryName").val(categoryName);
        $("#EditSelectedItem").val(selectedItem);
        $("#EditCategoryModal").modal("show");
    });

    // Close Edit Category Modal
    function CloseEditCategoryModalPopup() {
        console.log("Closing Edit Category modal popup");
        $("#EditCategoryModal").modal('hide');
    }

    // Edit Category AJAX
    function EditCategory() {
        var objData = {
            MenuCategoryId: $('#EditMenuCategoryId').val(),
            MenuCategoryName: $('#EditMenuCategoryName').val(),
            SelectedItem: $('#EditSelectedItem').val(),
        }
        $.ajax({
            url: '/MenuItems/EditCategory',
            type: 'POST',
            data: objData,
            dataType: 'json',
            success: function (response) {
                alert("Category Edited Successfully..!");
                CloseEditCategoryModalPopup();
            },
            error: function (request, status, error) {
                alert("Something Went Wrong!");
            },
        });
    }
</script>
@* -------*** Category Modal popup **------- *@

<div class="modal fade modal" id="AddCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info model-title">Add New Category</h1>
                <button aria-label="Close" class="btn-close bg-danger" onclick="CloseCategoryModalPopup();"></button>
            </div>

            <div class="modal-body">
                <form method="post" id="AddUnits_form">
                    <div class="form-group" style="display: none;">
                        <label>RestaurantId</label>
                        <input type="text" class="form-control" id="RestaurantId" value="@ViewBag.RestaurantId" placeholder=" Please Enter RestaurantId" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        <label>Category Name</label>
                        <input type="text" class="form-control" id="CateringCategoryName" placeholder=" Please Enter Category Name" autocomplete="off" required>
                        <span id="CateringCategoryNameError" class="error-message error-text"></span>
                    </div>
                    <div class="form-group">
                        <label>Price Per Pax</label>
                        <input type="text" class="form-control" id="CategoryPrice" placeholder=" 0.00" autocomplete="off" required>
                        <span id="CategoryPriceError" class="error-message error-text"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="AddCategories();">Save</button>
                <button class="btn btn-danger" onclick="CloseCategoryModalPopup();">Close</button>
            </div>
        </div>
    </div>

</div>
<style>
    .error-text {
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        $("#addCategoryBtnId").click(function () {
            $("#AddCategoryModal").modal("show");
        });

    });

    function CloseCategoryModalPopup() {
        console.log("Closing modal popup");
        $("#AddCategoryModal").modal('hide');
    }

    function AddCategories() {
        $('.error-message').text('');
        var objData = {
            RestaurantId: $('#RestaurantId').val(),
            CateringCategoryName: $('#CateringCategoryName').val(),
            CategoryPrice: $('#CategoryPrice').val(),
        }
        if (!objData.CateringCategoryName) {
            $('#CateringCategoryNameError').text('Please enter a Category Name');
            return;
        }

        if (isNaN(objData.CategoryPrice) || parseFloat(objData.CategoryPrice) < 0) {
            $('#CategoryPriceError').text('Please enter a valid Category Price');
            return;
        }
        $.ajax({
            url: '/CateringItems/SaveCategories',
            type: 'POST',
            data: objData,
            dataType: 'json',
            success: function (response) {
                if (response.includes("already exists")) {
                    // Show alert if the MenuCategoryName already exists
                    alert(response);
                } else {
                    alert("Category Saved Successfully..!");
                    window.location.reload();
                    ClearTextCategories();
                    CloseCategoryModalPopup();
                }
            },
            error: function (request, status, error) {
                alert("Something Went Wrong!");
            },
        });
    };

    function ClearTextCategories() {
        console.log("Clearing text fields");
        $('#CateringCategoryName').val(''); // Corrected the ID to clear MenuCategoryName
    }
</script>

<!-- Edit Catering Category Modal Popup -->
<div class="modal fade modal" id="EditCateringCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info model-title">Edit Catering Category</h1>
                <button aria-label="Close" class="btn-close bg-danger" onclick="CloseEditCateringCategoryModalPopup();"></button>
            </div>

            <div class="modal-body">
                <form method="post" id="EditCateringCategory_form">
                    <div class="form-group" style="display: none;">
                        <label>CateringCategoryId</label>
                        <input type="hidden" class="form-control" id="EditCateringCategoryId" />
                    </div>
                    <div class="form-group">
                        <label>Catering Category Name</label>
                        <input type="text" class="form-control" id="EditCateringCategoryName" placeholder="Please Enter Category Name" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Price Per Pax</label>
                        <input type="text" class="form-control" id="EditCategoryPrice" placeholder="Please Enter Category Price" autocomplete="off" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="EditCateringCategory();">Save Changes</button>
                <button class="btn btn-danger" onclick="CloseEditCateringCategoryModalPopup();">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Open Edit Catering Category Modal
    $(document).on('click', '.editCategoryBtn', function () {
        var categoryId = $(this).data('category-id');
        var categoryName = $(this).data('category-name');
        var categoryPrice = $(this).data('category-price');

        $("#EditCateringCategoryId").val(categoryId);
        $("#EditCateringCategoryName").val(categoryName);
        $("#EditCategoryPrice").val(categoryPrice);
        $("#EditCateringCategoryModal").modal("show");
    });

    // Close Edit Catering Category Modal
    function CloseEditCateringCategoryModalPopup() {
        console.log("Closing Edit Catering Category modal popup");
        $("#EditCateringCategoryModal").modal('hide');
    }

    // Edit Catering Category AJAX
    function EditCateringCategory() {
        var objData = {
            CateringCategoryId: $('#EditCateringCategoryId').val(),
            CateringCategoryName: $('#EditCateringCategoryName').val(),
            CategoryPrice: $('#EditCategoryPrice').val(),
        }
        $.ajax({
            url: '/CateringItems/EditCateringCategory',
            type: 'POST',
            data: objData,
            dataType: 'json',
            success: function (response) {
                alert("Catering Category Edited Successfully..!");
                window.location.reload();
                CloseEditCateringCategoryModalPopup();
            },
            error: function (request, status, error) {
                alert("Something Went Wrong!");
                CloseEditCateringCategoryModalPopup(); // Close the modal even in case of an error
            },
        });
    }
</script>
<script>
    // Open Delete Catering Category Modal
    $(document).on('click', '.deleteCategoryBtn', function () {
        var categoryId = $(this).data('category-id');

        if (confirm("Are you sure you want to delete this category?")) {
            DeleteCateringCategory(categoryId);
        }
    });

    // Delete Catering Category AJAX
    function DeleteCateringCategory(categoryId) {
        $.ajax({
            url: '/CateringItems/DeleteCateringCategory',
            type: 'POST',
            data: { id: categoryId },
            dataType: 'json',
            success: function (response) {
                alert("Catering Category Deleted Successfully..!");
                window.location.reload();
                // Handle any additional UI updates or refresh the page as needed
            },
            error: function (request, status, error) {
                alert("Something Went Wrong!");
            },
        });
    }
</script>