@model Caterer.Models.Extra
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
<div>
    <h4>Extras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddonCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddonCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExtrasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
