@model Caterer.Models.Restaurant
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SuperAdminDashboard.cshtml";
}
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaticFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaticFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StripeFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StripeFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StripeStaticFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StripeStaticFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayNowFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayNowFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayNowStaticFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayNowStaticFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanAutoReject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanAutoReject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanAutoAccept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanAutoAccept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanPickup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanPickup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanDeliver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanDeliver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanFreeDeliver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanFreeDeliver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanPreorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanPreorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disableordering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disableordering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanDineIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanDineIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableCOD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableCOD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisableCardpayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisableCardpayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisablePayNow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisablePayNow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minimum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeawayMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeawayMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoRejectWaitTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoRejectWaitTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QRPaymentWaitTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QRPaymentWaitTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageOrderPrepareTimeInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageOrderPrepareTimeInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotSeparatedInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotSeparatedInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPreparationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPreparationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StripeServiceTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StripeServiceTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayNowServiceTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayNowServiceTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTaxDineIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTaxDineIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeDeliveryCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeDeliveryCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoConversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoConversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanDispalyAllergensOnMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanDispalyAllergensOnMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableCoupons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableCoupons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanShowTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanShowTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableDrivers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableDrivers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanShowGoogleTranslate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanShowGoogleTranslate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanShowAllLanguages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanShowAllLanguages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleOfImpressum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleOfImpressum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impressum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impressum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableKitchenDisplaySystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableKitchenDisplaySystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableOrderAfterWorkingTimeOfTheStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableOrderAfterWorkingTimeOfTheStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanShowDateTimePickerEvenIfStoreIsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanShowDateTimePickerEvenIfStoreIsOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintNodeApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintNodeApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainThermalPrinterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainThermalPrinterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondMainPrinterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondMainPrinterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitchenThermalPrinterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitchenThermalPrinterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondKitchenThermalPrinterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondKitchenThermalPrinterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardPrinterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardPrinterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintA4StandardOrderWhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintA4StandardOrderWhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintOnMainThermalPrinterWhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintOnMainThermalPrinterWhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintOnKitchenThermalPrinterWhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintOnKitchenThermalPrinterWhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectYoutMenuTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectYoutMenuTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFormatForOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFormatForOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFormatForClosingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFormatForClosingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebhookCalledApprovedBySystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebhookCalledApprovedBySystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebhookCalledApprovedByvendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebhookCalledApprovedByvendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableCustomDeliveyCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableCustomDeliveyCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEnableCostBasedOnRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEnableCostBasedOnRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FifthRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FifthRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForFirstRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForFirstRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForSecondRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForSecondRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForThirdRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForThirdRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForFourthRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForFourthRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForFifthRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForFifthRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MondayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MondayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MondayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MondayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuesdayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuesdayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuesdayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuesdayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WednesdayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WednesdayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WednesdayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WednesdayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThursdayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThursdayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThursdayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThursdayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FridayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FridayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FridayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FridayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saturday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaturdayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaturdayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaturdayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaturdayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SundayStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SundayStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SundayEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SundayEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayNowPayOutDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayNowPayOutDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardPayoutdays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardPayoutdays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantBankShortCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantBankShortCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantBankAccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantBankAccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantBankHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantBankHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlan)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="RestaurantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
