@model Caterer.Models.CateringExtra
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Heading"] = "Products";
}
<div class="container-fluid py-8">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0 mr-auto">Delete Extras </p>
                        <a class="btn btn-danger btn-sm " asp-action="Edit" asp-controller="CateringItems" asp-route-id="@Model.CateringItemId">X</a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <h5>Category Information</h5>
                        <hr class="my-3">
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CateringItemId)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CateringItemId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ExtraName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ExtraName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ExtraPrice)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ExtraPrice)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.AddonCategory)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.AddonCategory)
                                </dd>
                            </dl>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="CateringExtrasId" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }                     
                    }
                </div>
            </div>
        </div>
    </div>
</div>


