@model IEnumerable<Caterer.Models.StockAdjustment>
@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Purchase Orders";
    Layout = "~/Views/Shared/_CaterersDashboard.cshtml";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<div class="container-fluid py-8">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>Stock Adjustment</h4>
                        
                        <div class="d-flex">
                            <div class="ms-auto">
                                <a class="btn btn-success btn-sm ms-auto" asp-controller="StockAdjustments" asp-action="StockAdjustmentCreate">Add Stock Adjustment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table" class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Adjustment Type
                                    </th>
                                    <th>
                                        Adjustment Date
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Adjustment Reason
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdjustmentType)
                                        </td>
                                        
                                        <td>
                                            @item.StockDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdjustmentReason)
                                        </td>
                                        @{
                                            counter++;
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 25
            });
        });
    </script>
    }