@model Caterer.Models.PreProduction

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_CaterersDashboard.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PreProduction</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreProductionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreProductionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Packs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Packs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuRecipeQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuRecipeQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPack)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PreProductionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
